{
  "parserOptions": {
    "ecmaVersion": 2018, // ecma script 버전
    "sourceType": "module", // node module 시스템 사용
    "ecmaFeatures": {
      "jsx": true // jsx 사용
    }
  },
  "env": {
    "browser": true,
    "node": true
  }, // 브라우저 환경
  "extends": ["eslint:recommended", "plugin:react/recommended"], // 추가 설정 - (1) eslint 추천 스타일, (2) react 추천 스타일
  "plugins": ["import", "react-hooks"] // import 문법 사용 및 react-hooks 사용 추가
}
